<div id="main">
  <canvas id="canvas"></canvas>

  <div id="controls">
    <button class="btn btn-primary rounded-md mx-2 px-3 items-center justify-center">
      <img class="w-6 h-6" src="/assets/share.svg" alt="Share">
    </button>
    <button class="btn btn-primary rounded-md mx-2 px-3 items-center justify-center" onclick="popup.showModal()" (click)="this.GoToHistory()">
      <img class="w-6 h-6" src="/assets/clipboard.svg" alt="Progress">
    </button>
    <button class="btn btn-primary rounded-md mx-2 px-3 items-center justify-center" (click)="this.NewTree()">
      <img class="w-6 h-6" src="/assets/plus.svg" alt="New Tree">
    </button>
  </div>

  <h1 id="instruction" style="position: absolute; top: 120px; left: 0px; right: 0px; color: white; text-align: center; transition: 200ms;">Place the tree somewhere</h1>

  <dialog id="popup" class="modal">
    <div class="modal-box">
      <router-outlet></router-outlet>
    </div>






    <form method="dialog" class="modal-backdrop">
      <button></button> <!-- Close button - triggered automatically by JS  -->
    </form>
  </dialog>
</div>