<!-- Required to ensure right margin is still accounted for scrolling entire view to table's right border -->
<h1 class="text-6xl font-bold mb-5">
    Progress
</h1>

<div class="mb-5">

    <div *ngIf="this.goals.length == 0" class="mb-3">
        You don't have any goals at the moment. Add some to get on track!
    </div>
    <div *ngFor="let goal of this.goals; index as i" style="display: grid; grid-template-columns: max-content auto max-content;" class="mb-3">
        <input type="checkbox" checked="{{goal.complete ? 'checked' : ''}}" (click)="this.FlipGoal(i)" class="checkbox checkbox-success mr-2" />
        <div class="w-auto label-text">{{goal.deliverable}}</div>
        <div class="w-max h-max flex items-center">
            <button style="color: red" (click)="this.DeleteGoal(i)">-</button>
        </div>
    </div>

    <div class="btn" (click)="AddGoal()">
        Add Goal
    </div>
</div>


<div style="display: grid; grid-template-columns: auto; overflow: auto;">
    <table class="table mr-6 rounded-xl">
        <tr>
            <th></th>
            <th *ngFor="let categoryID of this.categoryIDs" class="whitespace-nowrap">
                {{categoryID}}
            </th>
        </tr>
    
        <tr *ngFor="let dayIndex of this.dayLog | keyvalue">
            <!-- Display logs for each category in same order as headings -->
            <td class="whitespace-nowrap">Day {{Number(dayIndex.key) - this.dayOffset}}</td>
            <td *ngFor="let categoryID of this.categoryIDs" class="p-1">
                <div *ngFor="let habit of dayIndex.value[categoryID]">
                    <h3 class="font-bold">{{habit.habitID}}</h3>
                    <div>{{habit.description}}</div>
                </div>
            </td>
        </tr>
    </table>
</div>