<!-- Required to ensure right margin is still accounted for scrolling entire view to table's right border -->
<div style="display: grid; grid-template-columns: auto;">
    <table class="table mr-6 rounded-xl">
        <tr>
            <th></th>
            <th *ngFor="let categoryID of this.categoryIDs" class="whitespace-nowrap">
                {{categoryID}}
            </th>
        </tr>
    
        <tr *ngFor="let dayIndex of this.dayLog | keyvalue">
            <!-- Display logs for each category in same order as headings -->
            <td class="whitespace-nowrap">Day {{Number(dayIndex.key) - this.dayOffset}}</td>
            <td *ngFor="let categoryID of this.categoryIDs" class="p-1">
                <div *ngFor="let habit of dayIndex.value[categoryID]">
                    <h3 class="font-bold">{{habit.habitID}}</h3>
                    <div>{{habit.description}}</div>
                </div>
            </td>
        </tr>
    </table>
</div>